body{
    background-color: rgb(237, 245, 253);
}
.home-con{
    display: flex;
}
.img-con {
    margin-top: 10px;
    margin-left: 10px;
    background-image: url("images/home.jpeg");
    height: 88vh;
    width: 180vh;
    background-size: 100% 100%;
}
.text-con{
    max-width: 550px;
    margin: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(89, 91, 222, 0.1);
}
.text-con h2{
    color: #494996;
}
.text-con p{
    color: #2b254f;
}
.text-con img{
    padding-top: 20px;
    height: 80px;
    width: 550px;
}